{    # basetopic can be devices, analysis, or custom base topic
    "basepath": "devices/PNNL/ISB1",
    "use_timestamp": true,

    "max_data_frequency": 900, #Only used if timestamp in input file is used.

    "unittype_map": {
        ".*Temperature": "Farenheit",
        ".*SetPoint": "Farenheit",
        "OutdoorDamperSignal": "On/Off",
        "SupplyFanStatus": "On/Off",
        "CoolingCall": "On/Off",
        "SupplyFanSpeed": "RPM",
        "Damper*.": "On/Off",
        "Heating*.": "On/Off",
        "DuctStatic*.": "On/Off"
    },
    "input_data": "econ_test2.csv",
    # Publish interval in seconds
    "publish_interval": 1,

    # Tell the playback to maintain the location in the file if playback stops
    # before the file ends.
    # default false
    "remember_playback": true,

    # Start playback from 0 even though remember playback may be set.
    # default false
    "reset_playback": false,

    "replay_data": true

}
