{
	"optimizer_debug": "Hospital Modeled Data2 opt full year glpk3.csv",
	"optimizer": 
	{
		"name": "use_case_1",
		"use_glpk": true,
		"glpk_options": ["--tmlim", "10"]
	},
	"weather":
	{
		"type": "history",
		"settings":
		{
			"history_data_file": "USA_IL_Chicago-OHare.csv"
		}
	},
    "forecast_models":
    {
		"building_load":
		{
			"type": "history",
			"settings":
			{
				"history_data_file": "Hospital Modeled Data2.csv"
			}
		},
		"solar_pv":
		{
			"type": "zero"
		},
		"natural_gas_cost":
		{
			"type": "static",
			"settings":
			{
				"cost": 7.614
			}
		},
		"electricity_cost":
		{
			"type": "static",
			"settings":
			{
				"cost": 0.1
			}
		}
    },
    "components":
    [
     {
        "type": "natural_gas_meter",
        "name": "natural_gas_meter",
		"settings":
		{
			"cost": 7.614
		}
     },
     {
        "type": "electric_meter",
        "name": "electric_meter",
        "settings":
		{
			"cost": 0.1
		}
     },
     {
        "type": "micro_turbine_generator",
        "name": "micro_turbine_generator",
		"settings":
		{
			"training_data_file": "./component_example_training_data/CapstoneTurndownData.json"
		}        
     },
     {
        "type": "heat_exchanger",
        "name": "heat_recovery_unit",
		"settings":
		{
			"input_type": "waste_heat",
			"output_type": ["heat", "heated_water"]
		}
     },
     {
        "type": "heat_exchanger",
        "name": "air_handlers",
		"settings":
		{
			"input_type": ["heated_water","chilled_water"],
			"output_type": ["heated_air", "cooled_air"]
		}
     },
     {
        "type": "absorption_chiller",
        "name": "absorption_chiller",
		"settings":
		{
			"history_data_file": "./component_example_training_data/CH-Abs-Historical-Data.json"
		}
     },
     {
        "type": "chiller",
        "name": "chiller",
		"settings":
		{
		}
     },
     {
        "type": "boiler",
        "name": "boiler",
		"settings":
		{
			"history_data_file": "./component_example_training_data/Boiler-Historical-Data.json"
		}
     }
    ],

    "connections":
    [
        ["natural_gas_meter", "micro_turbine_generator"],
        ["micro_turbine_generator", "heat_recovery_unit"],
        ["heat_recovery_unit", "absorption_chiller"],
        ["heat_recovery_unit", "air_handlers"],
        ["absorption_chiller", "air_handlers"],
        ["electric_meter", "chiller"],
        ["chiller", "air_handlers"],
        ["air_handlers", "building_load"],
        ["electric_meter", "building_load"],
        ["micro_turbine_generator", "electric_meter"],
        ["natural_gas_meter", "boiler"],
        ["boiler", "air_handlers"]
    ]
}