{
    "building_load":
    {
        "building_model_type": "dependent_variable_model",
        "building_model_settings":
        {
            "training_csv": "McClure_Alt_Baseline_Loads.csv",
            "independent_variable_tolerances": {"tempm": 1.2}
        },
        "weather_model_settings":
        {
            "historical_data": "richland_weather_2006.csv"
        }
    },
    "components":
    [
     {
        "type": "natural_gas_meter",
        "name": "natural_gas_meter",
        "cost": 0.79053
     },
     {
        "type": "electric_meter",
        "name": "electric_meter",
        "cost": 0.79053
     },
     {
        "type": "micro_turbine_generator",
        "name": "micro_turbine_generator",
        "training_data_file": "./component_example_training_data/CapstoneTurndownData.json"
     },
     {
        "type": "heat_exchanger",
        "name": "heat_recovery_unit",
        "input_type": "waste_heat",
        "output_type": ["heat", "heated_water"]
     },
     {
        "type": "heat_exchanger",
        "name": "air_handlers",
        "input_type": ["heated_water","chilled_water"],
        "output_type": ["heated_air", "cooled_air"]
     },
     {
        "type": "absorption_chiller",
        "name": "absorption_chiller",
        "history_data_file": "./component_example_training_data/CH-Abs-Historical-Data.json"
     },
     {
        "type": "chiller",
        "name": "chiller"
     },
     {
        "type": "boiler",
        "name": "boiler",
        "history_data_file": "./component_example_training_data/Boiler-Historical-Data.json"
     }
    ],

    "connections":
    [
        ["natural_gas_meter", "micro_turbine_generator"],
        ["micro_turbine_generator", "heat_recovery_unit"],
        ["heat_recovery_unit", "absorption_chiller"],
        ["heat_recovery_unit", "air_handlers"],
        ["absorption_chiller", "air_handlers"],
        ["electric_meter", "chiller"],
        ["chiller", "air_handlers"],
        ["air_handlers", "building_load"],
        ["electric_meter", "building_load"],
        ["micro_turbine_generator", "electric_meter"],
        ["natural_gas_meter", "boiler"],
        ["boiler", "air_handlers"]
    ]
}