{
    "components":
    [
     {
        "type": "natural_gas_meter",
        "name": "natural_gas_meter",
        "cost": 0.79053
     },
     {
        "type": "electric_meter",
        "name": "electric_meter",
        "cost": 0.79053
     },
     {
        "type": "building_thermal_load",
        "name": "building_thermal_load"
     },
     {
        "type": "building_electric_load",
        "name": "building_electric_load"
     }
    ]
}