{
    # turn off actuator reservations as they are not needed.
    "make_reservations": false,

    "historian_training": false, #Whether or not to periodically retrain component
                                 # models from historian data.
    "training_frequency": 7, # How often to retrain the models from historian data in days.
    "simulation_mode": true, # Use timestamps from device publishes to determine
                             # how often to train or optimize.

    "optimizer_debug": "optimizer output.csv",
    "optimization_frequency": 60, #Frequency of optimization in minutes.
    "optimizer":
    {
        "name": "use_case_2",
        #"use_glpk": true,
        #"glpk_options": ["--tmlim", "10"],
        "write_lp": false,
        "lp_out_dir": "lps"
    },
    "weather":
    {
        "type": "history",
        "settings":
        {
            "history_data_file": "scenario_c/USA_IL_Chicago-OHare.csv",
            "hours_forecast": 5
        }
    },
    "forecast_models":
    {
        "building_load":
        {
            "type": "history",
            "settings":
            {
                "history_data_file": "scenario_c/hospital_data_no_leap_day.csv"
            }
        },
        "solar_pv":
        {
            "type": "zero"
        },
        "natural_gas_cost":
        {
            "type": "history",
            "settings":
            {
                "history_data_file": "scenario_c/nat_gas_price.csv"
            }
        },
        "electricity_cost":
        {
            "type": "history",
            "settings":
            {
                "history_data_file": "scenario_c/elec_price.csv"
            }
        }
    },
    "components":
    [
     {
        "type": "centrifugal_chiller_igv",
        "name": "centrifugal_chiller0",
        # Initial training data for component.
        # "initial_training_data": "./component_example_training_data/CH-Cent-IGV-Historical-Data.json",
        # Default parameters if no training data or training sources available.
        "default_parameters":
         {
             "fundata": {
                 "a": [28.28653004,42.18962324,66.98844306],
                 "b": [31.44670603,-22.77535742,-149.2493385],
                 "min": [1.5,3.9,5.1],
                 "max": [3.9,5.1,6]
             },
             "ramp_up": 6,
             "ramp_down": -6,
             "startcost": 15
        },
#        "training_window": 90, # Length of training data window in days.
#        "training_sources": # Topics to query from historian for training data mapped to names the component expects.
#        {
#            "centrifugal_chiller0/P(kW)": "P(kW)",
#            "centrifugal_chiller0/Qch(tons)": "Qch(tons)"
#        },
        # Output topics for a component
        # Maps the outputs of the component model to actuation point names.
        "outputs":
        {
            "command": "centrifugal_chiller0/command"
        },
        "settings":
        {
            "capacity": 200.0
        }
     },
     {
        "type": "centrifugal_chiller_igv",
        "name": "centrifugal_chiller1",
        # Initial training data for component.
        # "initial_training_data": "./component_example_training_data/CH-Cent-IGV-Historical-Data.json",
        # Default parameters if no training data or training sources available.
        "default_parameters":
         {
             "fundata": {
                 "a": [28.28653004,42.18962324,66.98844306],
                 "b": [31.44670603,-22.77535742,-149.2493385],
                 "min": [1.5,3.9,5.1],
                 "max": [3.9,5.1,6]
             },
             "ramp_up": 6,
             "ramp_down": -6,
             "startcost": 15
        },
#        "training_window": 90, # Length of training data window in days.
#        "training_sources": # Topics to query from historian for training data mapped to names the component expects.
#        {
#            "centrifugal_chiller1/P(kW)": "P(kW)",
#            "centrifugal_chiller1/Qch(tons)": "Qch(tons)"
#        },
        # Output topics for a component
        # Maps the outputs of the component model to actuation point names.
        "outputs":
        {
            "command": "centrifugal_chiller1/command"
        },
        "settings":
        {
            "capacity": 200.0
        }
     },
     {
        "type": "centrifugal_chiller_igv",
        "name": "centrifugal_chiller2",
        # Initial training data for component.
        # "initial_training_data": "./component_example_training_data/CH-Cent-IGV-Historical-Data.json",
        # Default parameters if no training data or training sources available.
        "default_parameters":
         {
             "fundata": {
                 "a": [28.28653004,42.18962324,66.98844306],
                 "b": [31.44670603,-22.77535742,-149.2493385],
                 "min": [1.5,3.9,5.1],
                 "max": [3.9,5.1,6]
             },
             "ramp_up": 6,
             "ramp_down": -6,
             "startcost": 15
        },
#        "training_window": 90, # Length of training data window in days.
#        "training_sources": # Topics to query from historian for training data mapped to names the component expects.
#        {
#            "centrifugal_chiller2/P(kW)": "P(kW)",
#            "centrifugal_chiller2/Qch(tons)": "Qch(tons)"
#        },
        # Output topics for a component
        # Maps the outputs of the component model to actuation point names.
        "outputs":
        {
            "command": "centrifugal_chiller2/command"
        },
        "settings":
        {
            "capacity": 200.0
        }
     },
     {
        "type": "battery",
        "name": "battery",
        # Initial training data for component.
        "initial_training_data": "./component_example_training_data/battery.csv",
        # Default parameters if no training data or training sources available.
        "default_parameters":
        {
            "charge_eff": 0.8,
            "discharge_eff": 0.7
        },
        "training_window": 90, # Length of training data window in days.
        "training_sources": # Topics to query from historian for training data mapped to names the component expects.
        {
            "battery/power": "power",
            "battery/soc": "soc"
        },
        # Output topics for a component
        # Maps the outputs of the component model to actuation point names.
        "outputs":
        {
            "charge_load": "battery/charge_load",
            "discharge_load": "battery/discharge_load"
        },
        "inputs":
        {
            "devices/battery/soc": "soc"
        },
        "settings":
        {
            "capacity": 24000.0,
            "min_power": 1500.0,
            "max_power": 4000.0,
            "min_soc": 0.3,
            "max_soc": 0.8
        }
     },
     {
        "type": "micro_turbine_generator",
        "name": "micro_turbine_generator",
        # "initial_training_data": "./component_example_training_data/CapstoneTurndownData.json",
         "default_parameters":
        {
            "fundata": {
                "a": [0.005795769,0.007508459,0.01016358],
                "b":[1.048286489,0.471110067,-0.657316438],
                "min":[130,337,425],
                "max":[337,425,500]
             },
            "ramp_up": 200,
            "ramp_down": -200,
            "startcost": 10,
            "min_on": 3,
            "output": 250
            
        },
#        "training_window": 90, # Length of training data window in days.
#        "training_sources": # Topics to query from historian for training data mapped to names the component expects.
#        {
#            "micro_turbine_generator/temperature": "temperature",
#            "micro_turbine_generator/power": "power",
#            "micro_turbine_generator/fuel_flow": "fuel_flow",
#            "micro_turbine_generator/air_flow": "air_flow"
#        },
        # Output topics for a component
        # Maps the outputs of the component model to actuation point names.
        "outputs":
        {
            "set_point": "micro_turbine_generator/set_point"
        },
		"settings":
		{
            "capacity": 60.0,
            "fuel_lhv": 50144.0,
            "temp_derate_threshold": 15.556,
            "temp_derate": 0.12
		}
     },
     {
        "type": "fuel_cell",
        "name": "fuel_cell",
        # Initial training data for component.
        # "initial_training_data": "./component_example_training_data/Gen2.csv",
        # Default parameters if no training data or training sources available.
        "default_parameters":
        {
            "fundata": {
                "a":[0.006180193,0.022282239,0.069634483],
                "b":[0.691878943,-5.990469852,-31.56068196],
                "min":[150,415,540],
                "max":[415,540,600]
             },
            "ramp_up": 150,
            "ramp_down": -150,
            "startcost": 20,
            "min_on": 3,
            "output": 300
            
        },
#        "training_window": 90, # Length of training data window in days.
#        "training_sources": # Topics to query from historian for training data mapped to names the component expects.
#        {
#            "fuel_cell/valid": "valid", # This will probably go away...
#            "fuel_cell/power": "power",
#            "fuel_cell/amb_temperature": "amb_temperature",
#            "fuel_cell/start": "start",
#            "fuel_cell/hours": "hours"
#        },
        # Output topics for a component
        # Maps the outputs of the component model to actuation point names.
        "outputs":
        {
            "set_point": "fuel_cell/set_point"
        },
        "settings":
        {
            "capacity": 500.0,
            "fuel_type": "CH4",
            "nominal_power": 402.0,
            "nominal_ocv": 0.8
        }
     },
     {
        "type": "absorption_chiller",
        "name": "absorption_chiller",
        # Initial training data for component.
        # "initial_training_data": "./component_example_training_data/CH-Abs-Historical-Data.json",
        # Default parameters if no training data or training sources available.
        "default_parameters":
        {
             "fundata": {
                 "a":[1.352948418,0.999815107,0.932180063],
                 "b":[0.615246616,0.75649994,0.80249177],
                 "min":[0.25,0.4,0.68],
                 "max":[0.4,0.68,0.75]
             },
             "ramp_up": 0.25,
             "ramp_down": -0.25,
             "startcost": 2
        },
#        "training_window": 90, # Length of training data window in days.
#        "training_sources": # Topics to query from historian for training data mapped to names the component expects.
#        {
#            "absorption_chiller/Qin(MMBtu/h)": "Qin(MMBtu/h)",
#            "absorption_chiller/Qch(tons)": "Qch(tons)"
#        },
        # Output topics for a component
        # Maps the outputs of the component model to actuation point names.
        "outputs":
        {
            "command": "absorption_chiller/command"
        },
        "settings":
        {
            "capacity": 464.0,
            "min_off": 3,
            "min_on": 3
        }
     },
     {
        "type": "boiler",
        "name": "boiler0",
        # Initial training data for component.
        # "initial_training_data": "./component_example_training_data/Boiler-Historical-Data.json",
        # Default parameters if no training data or training sources available.
        "default_parameters": {
             "fundata": {
                 "a": [1.451120189, 1.201299255, 1.450670102],
                 "b": [0.687845722, 1.267430288, -0.328543131],
                 "min": [1.2, 2.32, 6.4],
                 "max": [2.32, 6.4, 8]
             },
             "ramp_up": 8,
             "ramp_down": -8,
             "startcost": 0.8
        },
        # "training_window": 90, # Length of training data window in days.
        # "training_sources": # Topics to query from historian for training data mapped to names the component expects.
        # {
        #     "boiler0/heat_output": "heat_output",
        #     "boiler0/gas_input": "gas_input"
        # },
        # Output topics for a component
        # Maps the outputs of the component model to actuation point names.
        "outputs":
        {
            "command": "boiler0/command"
        },
        "settings":
        {
            "capacity": 8.0
        }
     },
     {
        "type": "boiler",
        "name": "boiler1",
        # Initial training data for component.
        # "initial_training_data": "./component_example_training_data/Boiler-Historical-Data.json",
        # Default parameters if no training data or training sources available.
        "default_parameters": {
             "fundata": {
                 "a": [1.451120189, 1.201299255, 1.450670102],
                 "b": [0.687845722, 1.267430288, -0.328543131],
                 "min": [1.2, 2.32, 6.4],
                 "max": [2.32, 6.4, 8]
             },
             "ramp_up": 8,
             "ramp_down": -8,
             "startcost": 0.8
        },
        # "training_window": 90, # Length of training data window in days.
        # "training_sources": # Topics to query from historian for training data mapped to names the component expects.
        # {
        #     "boiler1/heat_output": "heat_output",
        #     "boiler1/gas_input": "gas_input"
        # },
        # Output topics for a component
        # Maps the outputs of the component model to actuation point names.
        "outputs":
        {
            "command": "boiler1/command"
        },
        "settings":
        {
            "capacity": 8.0
        }
     },
     {
        "type": "boiler",
        "name": "boiler2",
        # Initial training data for component.
        # "initial_training_data": "./component_example_training_data/Boiler-Historical-Data.json",
        # Default parameters if no training data or training sources available.
        "default_parameters": {
             "fundata": {
                 "a": [1.451120189, 1.201299255, 1.450670102],
                 "b": [0.687845722, 1.267430288, -0.328543131],
                 "min": [1.2, 2.32, 6.4],
                 "max": [2.32, 6.4, 8]
             },
             "ramp_up": 8,
             "ramp_down": -8,
             "startcost": 0.8
        },
        # "training_window": 90, # Length of training data window in days.
        # "training_sources": # Topics to query from historian for training data mapped to names the component expects.
        # {
        #     "boiler2/heat_output": "heat_output",
        #     "boiler2/gas_input": "gas_input"
        # },
        # Output topics for a component
        # Maps the outputs of the component model to actuation point names.
        "outputs":
        {
            "command": "boiler2/command"
        },
        "settings":
        {
            "capacity": 8.0
        }
     },
    {
        "type": "thermal_storage",
        "name": "thermal_storage",
        # Output topics for a component
        # Maps the outputs of the component model to actuation point names.
        "default_parameters": {
             "soc": 0.0
        },
        "outputs":
        {
            "charge_load": "battery/charge_load",
            "discharge_load": "battery/discharge_load"
        },
        "inputs":
        {
            "devices/thermal_storage/chilled_water_return_temp": "chilled_water_return_temp",
            "devices/thermal_storage/chilled_water_supply_temp": "chilled_water_supply_temp",
            "devices/thermal_storage/building_chilled_water_supply_temp": "building_chilled_water_supply_temp",
            "devices/thermal_storage/building_chilled_water_return_temp": "building_chilled_water_return_temp",
            "devices/thermal_storage/soc": "soc"
        },
        "settings":
        {
            "tank_volume": 37800, # In liters
            "design_chilled_water_return_temp": 15.0, # Chiller return water temp in C
            "design_chilled_water_supply_temp": 6.7 # Chiller water water supply temp in C
        }
     }
    ]

#    "connections": []
#    [
#        ["natural_gas_meter", "micro_turbine_generator"],
#        ["micro_turbine_generator", "heat_recovery_unit"],
#        ["heat_recovery_unit", "absorption_chiller"],
#        ["heat_recovery_unit", "air_handlers"],
#        ["absorption_chiller", "air_handlers"],
#        ["electric_meter", "chiller"],
#        ["chiller", "air_handlers"],
#        ["air_handlers", "building_load"],
#        ["electric_meter", "building_load"],
#        ["micro_turbine_generator", "electric_meter"],
#        ["natural_gas_meter", "boiler"],
#        ["boiler", "air_handlers"]
#    ]

}
